.leftwords {
    min-width: 450px;
    max-width: 500px;
    color: #ea7500;
    background-color: #000000;
}
.leftwords h1{
    text-align: center;
    font-size: 72px;
}
.leftwords p{
    font-size: 48px;
}